/* Global Styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #FADADD;
}

/* Container */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Question and Options */
#question {
    font-family: 'Sacramento', cursive;
    font-size: 52px;
}

#options {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 26px;
    font-family: 'Sacramento', cursive;
    background-color: #FB607F;
    color: white;
    border: none;
    cursor: pointer;
}

/* Letter Page Styles */
.background {
    background-image: url('cherry.jpg'); /* Background image */
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letterbox {
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
    padding: 30px;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.letter {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}